body {
  font-family: 'Quicksand', sans-serif;
  background-color: #fffff4;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #fffff4;
  height: 800px;
  color: black;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
}


.topnav #myLinks {
  display: none;
  background-color: white;
}

.topnav a {
  background-color: white;
  font-weight: 400;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: transform .3s;
  margin: 0 auto;
}

.logo {
color: white;
font-weight: 500;
}

.nav-link {
  color: black;
  text-align:center;
}


.topnav a.icon {
  color: white;
  background: white;
background: linear-gradient(90deg, rgba(255, 255, 255, 0.819) 0%,rgba(255,243,184,1) 5%,   rgba(255,213,21,1) 100%);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
   border-bottom: 2px solid white;
  border-radius: 10px;
}

.topnav a:hover {
  background-color: white;
  transform: scale(1.05);
}

.active {
  font-size: 60px;
  font-weight: 700;
 background: rgb(255,255,255);
background: linear-gradient(225deg, rgba(255,255,255,1) 0%, rgba(255,243,184,1) 62%, rgba(255,213,21,1) 100%);
  color: white;
  border-bottom: 2px solid white;
  border-radius: 10px;
}
.header-wrapper {
background-color: white;
  max-width: 480px;
  height: 300px;
  background-size: 480px 300px;
  background-size: cover;
  background-position: 50% 50%;
  margin: auto;
  background-image: url(/eadorom-images/pic6.jpg);
  background-repeat: no-repeat;
  /* background: #fffff4  no-repeat center; */
   /* border: 2px dashed #2a2a2a;  
   border-radius: 4px; */
  position: relative;
  border-radius: 10px;

}

.header {
width:100%;
}

h2 {
  color: rgba(255,243,184,1);
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  font-weight: 400;
  font-size: 32;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10%;
  bottom: 15%;
}

.block {
  display: flex; 
  gap: 5%;
  justify-content: center;
  padding: 10px;
  background-color: white;
  align-items: center;
 
}

.text {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  /* min-height: 280px;
  min-width: 175px; */
  margin-left: 10px;

}
figure {
  margin-top: 9%;
  margin-left:0px;
  margin-right: 0px;
}

h3 {
  margin-top: 0px;
}

p {
  margin-top: 0px;
}

.block-2 {
  background-color:  rgba(255,243,184,1);
}

.figure-2 {
  margin-top: 25px;
  margin-left:0px;
  margin-right: 0px;

}